BreakStringLiterals: false
ColumnLimit: 80
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
PenaltyBreakComment: 0
PenaltyReturnTypeOnItsOwnLine: 999
SortIncludes: true
UseTab: Never

# When https://reviews.llvm.org/D78869 appears...
# SpaceBeforeParens: ControlStatementsExceptForEachMacros

ForEachMacros:
    - for_each_arr
