dist: bionic

language: c

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update
  - sudo apt-get install gcc-10
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 60 --slave /usr/bin/g++ g++ /usr/bin/g++-10
  - sudo apt-get -y install libnotify-dev libsystemd-dev afl clang clang-tidy
  - gcc --version

env: AFL_NO_UI=1

jobs:
  include:
    - name: Fuzz config files
      script:
      - sudo sh -c 'echo core > /proc/sys/kernel/core_pattern'
      - 'timeout -s INT --preserve-status 10m make fuzz-configs; [[ $? == 130 ]]'
      - 'if (( "$(find fuzz/configs/results/*/crashes -type f | wc -l)" != 0 )); then grep . fuzz/configs/results/*/crashes/*; exit 1; fi'

    - name: Fuzz pressure files
      script:
      - sudo sh -c 'echo core > /proc/sys/kernel/core_pattern'
      - 'timeout -s INT --preserve-status 3m make fuzz-pressures; [[ $? == 130 ]]'
      - 'if (( "$(find fuzz/pressures/results/*/crashes -type f | wc -l)" != 0 )); then grep . fuzz/pressures/results/*/crashes/*; exit 1; fi'

    - name: Run x86_64 tests
      script:
        - make test
        - make clean clang-tidy
        - make clean clang-everything
        - make clean test WANT_SD_NOTIFY=0
        - make clean clang-tidy WANT_SD_NOTIFY=0
        - make clean clang-everything WANT_SD_NOTIFY=0

    - name: Run ppc64le tests
      script:
        - make test
        - make clean clang-tidy
        - make clean clang-everything
        - make clean test WANT_SD_NOTIFY=0
        - make clean clang-tidy WANT_SD_NOTIFY=0
        - make clean clang-everything WANT_SD_NOTIFY=0
      arch: ppc64le

    - name: Run s390x tests
      script:
        - make test
        - make clean clang-tidy
        - make clean clang-everything
        - make clean test WANT_SD_NOTIFY=0
        - make clean clang-tidy WANT_SD_NOTIFY=0
        - make clean clang-everything WANT_SD_NOTIFY=0
      arch: s390x

    - name: Run arm64 tests
      script:
        - make test
        - make clean clang-tidy
        - make clean clang-everything
        - make clean test WANT_SD_NOTIFY=0
        - make clean clang-tidy WANT_SD_NOTIFY=0
        - make clean clang-everything WANT_SD_NOTIFY=0
      arch: arm64
