[Service]
ExecStart=psi-notify
ExecReload=kill -HUP $MAINPID
Type=notify

Restart=always

# Will be updated by watchdog_update_usec() once we parsed the config
WatchdogSec=2s

[Install]
WantedBy=default.target
