Source: psi-notify
Section: admin
Priority: optional
Maintainer: Dmitrii Okunev <xaionaro@gmail.com>
Build-Depends: debhelper-compat (= 12), libnotify-dev
Standards-Version: 4.4.1
Homepage: https://github.com/xaionaro/psi-notify
Vcs-Git: https://github.com/xaionaro/psi-notify

Package: psi-notify
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: high memory pressure notifier
 psi-notify is a minimal unprivileged notifier
 for system-wide resource pressure using PSI.
 .
 It can alert you when resources on your
 machine are becoming oversaturated, and allow
 you to take action before your system slows
 to a crawl.
